*{
    padding: 0;
    margin: 0;
}


body
{
    flex-direction: column;
    display: flex;

}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto 
}

aside{
    flex: 1;
    overflow-y: auto 
}